logging:
  level:
    org.hibernate.SQL: ${NIVEL_LOG_SQL:INFO}
    org.hibernate.type.descriptor.sql.BasicBinder: ${NIVEL_LOG_BASYC_BYNDER:INFO}
    br.com.luan.barcella.jesus.api: ${NIVEL_LOG_API:INFO}
    org.springframework.boot: ${NIVEL_LOG_SPRING:INFO}

server:
  port: ${PORTA_PADRAO:8090}
  error:
    include-message: ${INCLUIR_MENSAGENS:always}
  servlet:
    context-path: ${API_PATH:/jesus-api}

spring:
  messages:
    basename: i18n/messages

key:
  final: ${KEY_FINAL:final}

rest-template:
  timeout:
    connect: ${REST_TIMEOUT_CONNECT:5000} # 5 segundos em milissegundos
    read: ${REST_TIMEOUT_READ:15000} # 15 segundos em milissegundos

cache:
  ttl:
    livros:
      consulta-livros: ${TTL_CACHE_CONSULTA_LIVROS:86400} # 1 dia em segundos
      consulta-livro: ${TTL_CACHE_CONSULTA_LIVRO:86400} # 1 dia em segundos

redis:
  cache:
    host: ${REDIS_CACHE_HOST:localhost}
    password: ${REDIS_CACHE_PASSWORD:}
    port: ${REDIS_CACHE_PORT:6379}

integration:
  biblia-digital:
    url: ${URL_BIBLIA_DIGITAL:https://www.abibliadigital.com.br/api}